.syscontainer{
  height: 100%;
  width: 100%;
  background-color: #8f8f8f;
  margin: 2em 0.5em 2em 0.5em;
}

.reqform{
  padding: 1em;
  border-radius: 0.5em;
  width: 31em;
}

.reqformMenu{
  padding: 1em;
  border: solid 0.2em #449d44;
  margin: 0.2em;
  border-radius: 1em;
  background-color: #083E4B;
  color: #0c1a1e;
}

.reqformContent{
  padding: 1em;
  border-radius: 1em;
  background-color: #083E4B;
  margin-left: 1em;
}

.panel-body{
  padding: 1em;
}

li{
  list-style: none;
}

td.list-group-item{
  width: 22em;
  background-color: #2AA198;
  margin-top: 0.5em;
  border-radius: 0.5em;
}

.customFont{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.sysrow{
  background-color: #696969;
}

tr.sysrow th{
  color: #00bfff;
}

td{
  color: #ffe4c4;
}

.panel-success{
  width: 30em;
  margin-left: 1em;
  margin-right: 1em;
}
