<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 gameImg">
      <img src="{{selectedGame.img_url}}" class="img img-responsive" alt="">
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <h3 class="panel-heading">Game Details</h3>
        <div class="content">
          <span>Game Developer</span>
          <p class="well well-sm">{{selectedGame?.developer}}</p>
          <span>Game Genre</span>
          <p class="well well-sm">{{selectedGame?.genre}}</p>
          <span>Game Name</span>
          <p class="well well-sm">{{selectedGame?.name}}</p>
          <span>Game Publisher</span>
          <p class="well well-sm">{{selectedGame?.publisher}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
