<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 gameImg">
      <!--<img src="{{selectedGame.img_url}}" class="img img-responsive" alt="">-->
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Game Details</div>
        <div class="panel-body gameDetails">
          <p>Game Developer: {{selectedGame?.developer}}</p>
          <p>Game Genre: {{selectedGame?.genre}}</p>
          <p>Game Name: {{selectedGame?.name}}</p>
          <p>Game Publisher: {{selectedGame?.publisher}}</p>
          <p>

        </div>
      </div>
    </div>
  </div>
</div>
