<h1>Games List</h1>
<div>
  <div class="row">
    <div class="col-xs-4">
      <img src="../assets/games/game1.jpeg" height="344" width="599"/>
    </div>
    <div class="col-xs-4">
      <img src="../assets/games/game2.jpg" height="444" width="786"/>
    </div>
    <div class="col-xs-4">
      <img src="../assets/games/game3.png"/>
    </div>
    <div class="col-xs-4">
      <img src="../assets/games/game4.jpg" height="309" width="540"/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
  </div>
</div>
