<h1 class="text-danger text-center">Games List</h1>
<hr>
<div class="container-fluid">
  <a [routerLink]="['/game']" href="">
    <div class="col-xs-4 col-md-4 col-lg-4 panel panel-success" *ngFor="let game of games">
      <div class="panel-heading">
        <h3 class="panel-title">{{game}}</h3>
      </div>
      <img src="./assets/games/game1.jpeg" alt="" class="img-thumbnail">
      <div class="panel-body text-warning">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid animi
          deleniti doloribus facilis iste laboriosam, modi quos reiciendis repellendus sed vel voluptatem,
          voluptatum. Aperiam id modi quae quod voluptates.
      </div>
    </div>
  </a>
</div>
