<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Games Menu</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aspernatur blanditiis consectetur debitis dolore dolorum hic impedit laboriosam, minima,
          quia quos ratione rem saepe voluptas. Dolorem doloremque ea fugit laborum unde?

          <div class="list-group">
            <a href="#" class="list-group-item">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in
            </a>
            <a href="#" class="list-group-item">Morbi leo risus
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p>
        dashboard works!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid animi aperiam at autem deleniti dignissimos doloribus enim,
        et fuga impedit, inventore laboriosam necessitatibus odit officia quae quia reprehenderit vitae.
      </p>

      <article>
        Nullam quis hendrerit orci. Duis vehicula lacus ut nibh condimentum finibus. Quisque congue et mi non bibendum. Sed sed faucibus mauris, eu sollicitudin lectus. Proin auctor dignissim lacus. Nulla placerat justo iaculis diam luctus ultricies. Proin ut tempor orci. Fusce ut tempor libero, condimentum tincidunt turpis. Cras nec massa pulvinar, dignissim velit sed, aliquet diam. Etiam in enim nec dui tempor iaculis vel sit amet dolor. Suspendisse fringilla nisl at venenatis rutrum. Nulla vel faucibus lorem, quis imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a nunc tincidunt, laoreet tortor eget, faucibus purus. Praesent a dolor varius, sagittis felis quis, malesuada mi.
      </article>
      <section>
        Praesent placerat vitae nulla vitae consectetur. Ut fermentum mauris eu est placerat, nec aliquam nisl iaculis. Donec commodo erat nec rutrum malesuada. Suspendisse mollis nisl sed luctus dignissim. Morbi leo neque, sodales et placerat a, elementum a eros. Integer semper eget mi sit amet ultricies. Suspendisse iaculis massa quam, sit amet interdum elit dapibus nec. Etiam vitae vestibulum lorem. Nunc ornare enim vitae eros dictum, sit amet tincidunt lectus tincidunt. In tempus leo sapien, vel cursus nunc pulvinar eu. Sed posuere justo id urna ullamcorper interdum. Aenean eu elementum ante. Proin ante dolor, ullamcorper a volutpat maximus, aliquam eu metus.
        <p>Nullam sed turpis eu tellus sagittis tincidunt posuere ac mauris. Integer mattis neque id bibendum porta. Suspendisse vel justo vel eros ornare tincidunt in ac enim. Phasellus in urna ut risus maximus auctor in in lorem. Integer sed erat elit. Morbi vitae dolor sagittis, dapibus dui eget, dapibus risus. Curabitur ac tortor eros. Curabitur vitae urna id tortor facilisis porttitor et non purus.</p>
      </section>
    </div>
  </div>
</div>
