.customHeader{
  font-size: 2em;
  font-family: monospace;
  color: aqua;
}

.review-list-menu{
  background-color: #303030;
  border-radius: 1em;
  border: solid 0.2em darkcyan;
  padding-top: 1em;
  width: 30em;
}

.review-list{
  list-style-type: none;
  border: 0.2em solid darkcyan;
  border-radius: 1em;
  padding: 0em;
  margin: 0em 0.5em 1em 0.5em;
}

a.list-group-item{
  background-color: slategray;
  color: #09ffb2;
  border-radius: 1em;
  width: 25em;
}

.review-content{
  margin-top: 1em;
}

.summary{
  font-family: 'Open Sans', sans-serif;
  color: #0c1a1e;
  font-size: 0.8em;
}

.demo-card-square.mdl-card {
  width: auto;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: white;
    /*url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
}
